@{
    ViewBag.Title = "Адаптированный справочник организаций";
}

<form data-bind="submit: action">
    <label for="search">Поиск:</label>
    <input type="text" id="search" data-bind="value: what" />
    <button type="submit">Найти</button>
</form>

<script>
    app.applyIndexViewModel();
</script>