@{ViewBag.Title = "Справочник организаций";}

<form role="form" name="form">
    <label for="what" class=""><h4>Поиск организаций</h4></label>
    <div class="input-group">
        <input type="text" name="what" id="what" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Найти!</button>
        </span>
    </div>
</form>

<script>
    document.form.what.focus();

    document.form.onsubmit = function () {
        var what = document.form.what.value;
        if (what) {
            location = what;
        }

        return false;
    };
</script>
