@{ViewBag.Title = "Поиск организаций";}

<form role="form" name="form">
    <label for="what"><h4>Поиск</h4></label>
    <div class="input-group">
        <input type="text" name="what" id="what" class="form-control">
        <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Найти!" />
        </span>
    </div>    
</form>

<hr />

<p>
    Поиск по справочнику фирм и организаций 2ГИС.
</p>

<script>
    document.form.what.focus();

    document.form.onsubmit = function () {
        var what = document.form.what.value;
        if (what) {
            location = what;
        }

        return false;
    };
</script>
