@{
    ViewBag.Title = "Адаптированный справочник организаций";
}

<form name="form" role="form">
    <label for="search" class=""><h1>Поиск</h1></label>
    <div class="input-group">
        <input name="what" type="text" class="form-control" placeholder="Я ищу..." data-bind="value: what" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Найти!</button>
        </span>
    </div>
</form>

<script>
    document.form.onsubmit = function () {
        var what = document.form.what.value;
        if (what) {
            location = what + '/Новосибирск';
        }

        return false;
    };
</script>
