<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 2ГИС</title>
    <meta name="description" content="Адаптированный поиск огранизаций с использованием базы 2ГИС.">
</head>
<body>
    @RenderBody()
</body>
</html>