<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 2ГИС</title>
    <meta name="description" content="Адаптированный поиск огранизаций с использованием базы 2ГИС.">
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    <script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>